root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
ktlint_standard_no-wildcard-imports = disabled
# Jetpack Compose uses PascalCase @Composable functions and theme vals.
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled
max_line_length = 140

[*.{yml,yaml,json,toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
